<Router AppAssembly="typeof(Program).Assembly"> <!--Especifica ensamblado assembly-->
    <Found Context="routeData"> <!--Found se ejecuta al encontrar una ruta válida-->
        <RouteView RouteData="routeData" DefaultLayout="typeof(MainLayout)" /> <!--Renderiza el componente asociado a la ruta. Define layout default-->
        <FocusOnNavigate RouteData="routeData" Selector="h1" />
    </Found>
    <NotFound> <!--Se ejecuta al no encontrar una ruta valida-->
        <LayoutView Layout="typeof(MainLayout)">
            <p>Sorry, there's nothing at this address.</p>
        </LayoutView>
    </NotFound>
</Router>